@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');


* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.hero-wrapper {
  background: #fff;
  padding: 10px 40px;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 40px;
  display: inline-block;
  position: relative;
  top: 10px;
}
.logo h1 {
  display: inline-block;
  font-size: 35px;
  font-weight: 900;
  margin-left: 20px;
  font-family: "Limelight", sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  font-family: "Limelight", sans-serif;
  font-size: 20px;
}

.signup-btn {
  background: #000;
  color: #fff;
  font-size: 14px;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

/* Hero Section */
.hero {
  margin-top: 10px;
  background: #F1DAAE;
  border-radius: 28px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Left Content */
.hero-left h1 {
  font-size: 60px;
  line-height: 1.5;
  font-weight: 800;
  font-family: "Limelight", sans-serif;
}

.hero-left h1 span {
  background: #ffd800;
  padding: 0 10px;
}

.hero-left p {
  margin-top: 20px;
  font-size: 16px;
}

.shop-btn {
  margin-top: 30px;
  background: #000;
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

/* Right Content */
.hero-right {
  position: relative;
}

img.plant {
  position: absolute;
  max-width: 200px;
  top: -55px;
  left: -170px;
  z-index: 2;
}

img.lotus {
  position: absolute;
  max-width: 350px;
  right: 200px;
  top: -350px;
}

.drawer {
  position: absolute;
  max-width: 300px;
  top: 80px;
  right: -50px;
}

/* Gallery */

.product-showcase {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-showcase h1{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Limelight", sans-serif; 
  text-align: center;
}

.gallery{
  background-color: #F1DAAE;
  border-radius: 28px;
  padding: 30px 20px 10px 20px;
  width: 100%;
}
.images{
  display: flex;
  gap: 15px;
  justify-content: center;
}

.gallery h3 {
  text-align: center;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.gallery h3 a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.gallery h3 a:hover {
  text-decoration: underline;
}

.gallery img {
  height: 420px;
  border-radius: 8px;
  border: 3px solid #684025;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}